.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div{
        width: 400px;
        margin: 0px 5px 5px 0px
    }

}

section{

    width: 1250px;
    border: 4px solid aqua;
}
h2{
    padding-left: 4px;
    border-left:10px solid chocolate ;
    color: chocolate;
}


/* form method 
input
input
div
function prinNumber{
    laays du;
    ep kieu
    var html = '';
    for
        html += i +<br>
} */